*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100% !important;
}
.sidebar{
    background: #021f4c;
    color: #fff;
    height: 100vh;
    transition: all 0.5s;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;

}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(227, 240, 255);
    color: #021f4c;
    transition: all 0.5s;
}
.active{
    background: rgb(227, 240, 255);
    color: #021f4c;
}
.icon, .link_text{
    font-size: 20px;
}

ol > li::marker {
    font-weight: bold;
  }