@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
}


#unisAirline {
    /* overflow-y: scroll;
    height: 800px; */
    background-image: url("images/fondoUnisAirline.png");
    background-size: cover;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
